body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.avatar-fallback {
  background: #eee;
  width: 50px;
  height: 50px;
}

.i {
  stroke: currentColor;
  stroke-width: 6.25%;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  width: 1em;
  height: 1em;
  margin: 0.4em;
}

svg, svg symbol {
  overflow: visible;
}
